@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-color: #52b3d0;
    --primary1: #53D8FB;
    --primary2: #66C3FF;
    --primary3: #18A0FB;
    --primary4: #007ACC;
    --primary5: #142C4B;
    --secondary1: #FFB01F;
    --bodyColor: #444444;
}

/* Load Fonts */
@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/montserrat-100.woff2");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/montserrat-200.woff2");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/montserrat-100.woff2");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/montserrat-300.woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/montserrat-400.woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/montserrat-500.woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/montserrat-600.woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/montserrat-700.woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/montserrat-800.woff2");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/montserrat-900.woff2");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Mulish";
    src: url("/fonts/mulish/mulish-100.woff2");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Mulish";
    src: url("/fonts/mulish/mulish-200.woff2");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "Mulish";
    src: url("/fonts/mulish/mulish-300.woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Mulish";
    src: url("/fonts/mulish/mulish-400.woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Mulish";
    src: url("/fonts/mulish/mulish-500.woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Mulish";
    src: url("/fonts/mulish/mulish-600.woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Mulish";
    src: url("/fonts/mulish/mulish-700.woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Mulish";
    src: url("/fonts/mulish/mulish-800.woff2");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Mulish";
    src: url("/fonts/mulish/mulish-900.woff2");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

/* End Load Fonts */


@layer components {
    .button{
        @apply  bg-primary3 text-white px-10 py-2 rounded-md
                uppercase font-bold transition duration-150 ease-in-out;
    }

    .button2{
        @apply py-2 px-6 bg-white border-2 rounded-lg border-primary3 text-primary3
    }

    @media (hover: hover) and (pointer: fine) {
        .button{
            @apply  hover:bg-secondary1 hover:-translate-y-1 hover:shadow-2xl
        }
    }

    body{
        @apply font-body
    }

    .cardShadow{
        box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.1);
    }

    p{
        @apply text-bodyColor
    }
}

@layer utilities {
    .wrapper{
        @apply mx-auto max-w-6xl px-4 md:px-6 lg:px-8
    }
}


